<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>About Us</title>
</head>
<body>
    <!-- <div class="navigation">
        <h2>Brand Name</h2>
        <div class="wrap">
        <nav class="links">
            <div class="home"><a href="/src/Home.html">Home</a></div>
            <div class="ride"><a href="/HTML/Ride.html">Ride</a></div>
            <div class="business"><a href="">Business</a></div>
            <div class="about"><a href="/HTML/about.html">About</a></div>
        </nav>
        <div class="container-1">
        <div class="signup">Signup/Signin</div></div>
        </div>
    </div> -->
    <section class="hero">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="container">
            <div class="hero-content">
                <h4>Planning your next trip? We take the stress out of bus travel.</h4>
                <p>Book tickets anytime, anywhere .No more waiting in lines!! Search, compare, and book bus tickets in just a few clicks, 24/7.
                    Track your bus in real-time .Never miss a beat. See exactly where your bus is and when it's expected to arrive, all on your phone.
                    Your safety is our priority. Our website uses secure payment gateways and features an SOS system for emergencies.Travel with peace of mind .
                    Ready to experience a smoother bus journey?  Search for your next trip today!
                </p>
            </div>
            <div class="hero-image">
                <img src="/Pictures/orange_bus_crop.jpg" alt="">
            </div>
        </div>
    </section>
    
</body>
</html>