<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>About Us</title>
</head>
<body>
    <!-- <div class="navigation">
        <h2>Brand Name</h2>
        <div class="wrap">
        <nav class="links">
            <div class="home"><a href="/src/Home.html">Home</a></div>
            <div class="ride"><a href="/HTML/Ride.html">Ride</a></div>
            <div class="business"><a href="">Business</a></div>
            <div class="about"><a href="/HTML/about.html">About</a></div>
        </nav>
        <div class="container-1">
        <div class="signup">Signup/Signin</div></div>
        </div>
    </div> -->
    <section class="hero">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="hero-container">
            <div class="hero-content">
                <h4>Planning your next trip? We take the stress out of bus travel.</h4>
                <p>Book tickets anytime, anywhere .No more waiting in lines!! Search, compare, and book bus tickets in just a few clicks, 24/7.
                    Track your bus in real-time .Never miss a beat. See exactly where your bus is and when it's expected to arrive, all on your phone.
                    Your safety is our priority. Our website uses secure payment gateways and features an SOS system for emergencies.Travel with peace of mind .
                    Ready to experience a smoother bus journey?  Search for your next trip today!
                </p>
            </div>
            <div class="hero-image">
                <img src="/Pictures/orange_bus_crop.jpg" alt="">
            </div>
        </div>
    </section>
    <div class="container">
        <h1>FAQ</h1>

        <div class="faq-section">
            <h2>General information</h2>
            <div class="faq-item">
                <button onclick="toggleAnswer(this)">First Question</button>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, aut in iste ducimus inventore libero minus autem magni earum sapiente. Recusandae at soluta velit. A optio corporis sunt voluptatem delectus.</div>
            </div>
            <div class="faq-item">
                <button onclick="toggleAnswer(this)">Second Question</button>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, corporis, voluptas sed iste dolor nulla incidunt unde nostrum vero amet, vitae assumenda? Tempore repellendus laudantium illum exercitationem unde obcaecati facilis.</div>
            </div>
        </div>

        <div class="faq-section">
            <h2>Facilities</h2>
            <div class="faq-item">
                <button onclick="toggleAnswer(this)">Third Question</button>
                <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat iste, atque laborum recusandae excepturi consequuntur adipisci magni voluptatem error eius officiis perspiciatis cum, aliquam dicta dignissimos deleniti. Sed, ipsa eveniet.</div>
            </div>
        </div>

        <div class="faq-section">
            <h2>Report Issue</h2>
            <div class="report-item">
                <form action="" method="POST">
                    <div>
                        <label for="report-issue">What problem are you facing?*</label>
                        <textarea name="report-issue" id="report-issue" cols="50" rows="10" required></textarea>
                    </div>
                    <div>
                        <label for="name">Name: *</label>
                        <input type="text" name="name" id="name" required>
                        <label for="email">Email: *</label>
                        <input type="email" name="email" id="email" required>
                        <label for="phone">Phone</label>
                        <input type="tel" name="phone" id="phone">
                        <label>* are required fields</label>
                    </div>
                    <div>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function toggleAnswer(button) {
            const answer = button.nextElementSibling;
            if (answer.style.display === "block") {
                answer.style.display = "none";
            } else {
                answer.style.display = "block";
            }
        }
    </script>
</body>
</html>