<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoBus</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/business.css" />
    <link rel="stylesheet" href="/CSS/signin.css">
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="#">GoBus</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
         
        </label>
        
        <div class="buttons">
          <!-- <a href="#" class="signin">Sign In</a> -->
          <!-- <a href="#" class="signup">Register</a> -->
          <a href="#" class="open_form"><span>Register</span></a>
          

        </div>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <h2>The best of GoBus for your business</h2>
        <p>
            GoBus for Business gives your organization more control, deeper insights, and features built for enterprise users. Manage and track business travel, meal programs, and more on one dashboard.
        </p>
        <div class="buttons">
          <a href="#" class="join">How to get started</a>
          <a href="#" class="learn">Check out our solution</a>
        </div>
      </div>
      <div class="img">
        <img src="/Pictures/9b996526634783.563582e4bc0da_.jpg" alt="hero image" />
      </div>
    </section>
    <div class="card-list">
        <a href="#" class="card-item">
            <img src="/Pictures/OIP (1).jpeg.jpg" alt="Card Image">
            <span class="developer">Provide an exclusive experience for your teams</span>
            <p>In addition to easy expensing and priority support, employees in select cities get access to ride options like Uber Business Comfort that allow your team to enjoy a premium travel experience.</p>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#" class="card-item">
            <img src="/Pictures/OIP (2).jpeg.jpg" alt="Card Image">
            <span class="designer">Reduce costs by up to 10% by improving compliance</span>
            <p>Our customers agreed they reduced costs on ground transportation and meals. Monitor spending and usage and get controls to enforce policies.</p>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
        <a href="#" class="card-item">
            <img src="/Pictures/OIP (3).jpeg.jpg" alt="Card Image">
            <span class="editor">Prioritize safety and security for your business</span>
            <p>We offer additional crash-alert notifications for business users. Our latest US Safety Report shows that 99.9% of Uber trips are completed without any reported safety incidents.</p>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </a>
    <div class="main">
      <div class="wrapper">
          <h2>Sign in to your GoBus for Business account</h2>
          <i class="fas fa-times cross"></i>

          <div class="container">
              <div class="form_container">
                  <div class="btn">
                      <button class="sign_in active">Sign In</button>
                      <button class="sign_up">Sign Up</button>
                  </div>

                  <form action="#" class="form sign_in_form">
                      <div class="input_container">
                          <input type="email" name="" id="" placeholder="Enter phone number or email" required>
                          <i class="fas fa-user-circle"></i>
                      </div>

                      <div class="input_container">
                          <input type="password" name="" id="" placeholder="Password" class="pass" required>
                          <i class="fas fa-lock"></i>
                          <i class="fas fa-eye eye"></i>
                      </div>

                      <div class="remember">
                          <div class="checkBox">
                              <input type="checkbox" name="" id="">
                              <span class="rememberTxt">Remember me</span>
                          </div>
                          <a href="#" class="text">Forgot Password</a>
                      </div>

                      <button>Sign In</button>
                  </form>

                  <form action="#" class="form sign_up_form">
                      <div class="input_container">
                          <input type="email" name="" id="" placeholder="Enter phone number" required>
                            <i class="fas fa-phone-alt"></i>
                      </div>
                      <div class="input_container">
                          <input type="email" name="" id="" placeholder="Enter Email" required>
                          <i class="fa-solid fa-envelope"></i>
                      </div>
                      <div class="input_container">
                          <input type="email" name="" id="" placeholder="Bus Number" required>
                          <i class="fa-solid fa-bus"></i>
                      </div>
                      <div class="input_container">
                          <input type="email" name="" id="" placeholder="Bus Time" required>
                          <i class="fa-solid fa-clock"></i>
                      </div>

                      <div class="input_container">
                          <input type="password" name="" id="" placeholder="Password" class="pass1" required>
                          <i class="fas fa-lock"></i>
                          <i class="fas fa-eye eye eye1"></i>
                      </div>
                      <div class="input_container">
                          <input type="password" name="" id="" placeholder="Confirm Password" class="pass1" required>
                          <i class="fas fa-lock"></i>
                          <i class="fas fa-eye eye eye1"></i>
                      </div>


                      <div class="remember">
                          <div class="checkBox">
                              <input type="checkbox" name="" id="">
                              <span class="rememberTxt">Remember me</span>
                          </div>
                          <a href="#" class="text">Forgot Password</a>
                      </div>

                      <button>Sign Up</button>
                  </form>
                  
              </div>
          </div>
      </div>
  </div>
  <script src="/javascript/busness.js"></script>
  </body>
</html>