<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/go_live.css">
    <title>GoBus</title>
</head>

<body>
    <nav class="navigation">
        <div class="disconnect" id="disconnect">disconnect button</div>
    </nav>
    <main>
        <div class="screen" id="screen">
            <div class="button" id="button" onclick="getlocation()">GoLive</div>
        </div>
        <div id="map" class="map"></div>
    </main>
    <script src="/javascript/location.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&libraries=places"></script>
    <script src="/javascript/render.map.js"></script>
</body>
</html>