<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="/CSS/signin.css">
      
    <title>Sign in</title>
</head>
<body>
    <a href="#" class="open_form"><span>View Form</span></a>
    <div class="main">
        <div class="wrapper">
            <h2>Sign in to ride</h2>
            <i class="fas fa-times cross"></i>

            <div class="container">
                <div class="form_container">
                    <div class="btn">
                        <button class="sign_in active">Sign In</button>
                        <button class="sign_up">Sign Up</button>
                    </div>

                    <form action="#" class="form sign_in_form">
                        <div class="input_container">
                            <input type="email" name="" id="" placeholder="Enter phone number or email" required>
                            <i class="fas fa-user-circle"></i>
                        </div>

                        <div class="input_container">
                            <input type="password" name="" id="" placeholder="Password" class="pass" required>
                            <i class="fas fa-lock"></i>
                            <i class="fas fa-eye eye"></i>
                        </div>

                        <div class="remember">
                            <div class="checkBox">
                                <input type="checkbox" name="" id="">
                                <span class="rememberTxt">Remember me</span>
                            </div>
                            <a href="#" class="text">Forgot Password</a>
                        </div>

                        <button>Sign In</button>
                    </form>

                    <form action="#" class="form sign_up_form">
                        <div class="input_container">
                            <input type="email" name="" id="" placeholder="Enter phone number" required>
                              <i class="fas fa-phone-alt"></i>
                        </div>
                        <div class="input_container">
                            <input type="email" name="" id="" placeholder="Enter Email" required>
                            <i class="fa-solid fa-envelope"></i>
                        </div>

                        <div class="input_container">
                            <input type="password" name="" id="" placeholder="Password" class="pass1" required>
                            <i class="fas fa-lock"></i>
                            <i class="fas fa-eye eye eye1"></i>
                        </div>
                        <div class="input_container">
                            <input type="password" name="" id="" placeholder="Confirm Password" class="pass1" required>
                            <i class="fas fa-lock"></i>
                            <i class="fas fa-eye eye eye1"></i>
                        </div>


                        <div class="remember">
                            <div class="checkBox">
                                <input type="checkbox" name="" id="">
                                <span class="rememberTxt">Remember me</span>
                            </div>
                            <a href="#" class="text">Forgot Password</a>
                        </div>

                        <button>Sign Up</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/signin.js"></script>
</body>
</html>